:root {
  --prime-background-color: #f5f5f5;
  --hero-color: #2f303a;
  --nav-background-color: #ffffff;
  --team-background-color: #f5f4fa;
  --prime-text-color: #757575;
  --secondary-text-color: #212121;
  --prime-logo-color: #2196f3;
  --secondary-logo-color: #000000;
  --bg-color: #2196f3;
  --activ-bg-color: #188ce8;
  --border-header-color: #ececec;
  --border-color: #EEEEEE;
  --secondary-adress: rgba(255, 255, 255, 0.6);
}

/* body */
.list {
  list-style: none;
}

.text {
  text-decoration: none;
}

body {
  background-color: var(--nav-background-color);
  color: var(--prime-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  width: 1600px;
  padding-top: 94px;
  margin: 0 auto;
}

/* header */

.prime-logo {
  color: var(--prime-logo-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.secondary-logo {
  color: var(--secondary-logo-color);
}

.third-logo {
  color: var(--nav-background-color);
}

.nav-section .anhor {
  color: var(--secondary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-section .anhor:hover,
.nav-section .anhor:focus {
  color: var(--prime-logo-color);
}

.nav-section .adress {
  color: var(--prime-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-section .adress:hover,
.nav-section .adress:focus {
  color: var(--prime-logo-color);
}

.nav-section .current {
  color: var(--bg-color);
}

.header {
  margin: 0 auto;
  border-bottom: 1px solid var(--border-header-color);
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.heder-logo {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-nav-list {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  gap: 50px;
  margin-left: 93px;
}

.header-list-addres {
  display: flex;
  gap: 50px;
}

.header-nav-item {
  padding: 32px 0;
}

/* hero sectsion */
.hero-section {
  background-color: var(--hero-color);
  width: 1600px;
  margin: 0 auto;
}

.hero-section-container {
  width: 1230px;
  padding: 200px 15px;
  margin: 0 auto;
}

.hero-section .title {
  color: var(--nav-background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  width: 696px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto;
}

.hero-button {
  background-color: var(--bg-color);
  color: var(--nav-background-color);
  cursor: pointer;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: block;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  margin: 30px auto 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--activ-bg-color);
}

/* section benefits */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.benefits-title {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.benefits-list {
  display: flex;
  gap: 30px;
}

.benefits-paragraph {
  max-width: 270px;
  margin-top: 10px;
}

/* section tasks */
.tasks-title {
  color: var(--secondary-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.tasks-section {
  padding-bottom: 94px;
}

.tasks-section-list {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}
/* team section */
.team-section {
  background-color: var(--team-background-color);
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  padding-bottom: 94px;
}

.team-section .title {
  color: var(--secondary-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team-section .secondary-title {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  margin-bottom: 10px;
}

.team-section-list {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.person {
  background-color: var(--nav-background-color);
}

.team-section-item {
  padding: 30px;
}

/* footer */
.footer {
  background-color: var(--hero-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  width: 1230px;
  padding: 15px 0;
  margin: 0 auto;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.footer-address-item:not(:last-child) {
  margin-bottom: 10px;
}

.secondary-adress {
  color: var(--secondary-adress);
  font-style: normal;
}

.adress-link {
  color: var(--nav-background-color);
}

.secondary-adress:hover,
.secondary-adress:focus,
.adress-link:hover,
.adress-link:focus {
  color: var(--prime-logo-color);
}

/* porfolio */

.porfolio-button {
  background-color: var(--team-background-color);
  color: var(--secondary-text-color);
  cursor: pointer;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border: none;
  border-radius: 4px;
  display: block;
  padding: 6px 22px;
}

.porfolio-button:hover,
.porfolio-button:focus {
  background-color: var(--bg-color);
  color: var(--nav-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.porfolio-anhor {
  font-style: normal;
}
.porfolio-anhor  .title {
  color: var(--secondary-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.porfolio-anhor  .paragraf {
  color: var(--prime-text-color);
  font-size: 16px;
  line-height: 1.88;
  margin-top: 4px;
}

.porfolio-list {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.porfolio-section {
  width: 1600px;
  padding-top: 94px;
  padding-bottom: 94px;
  margin: 0 auto;
}

.porfolio-project {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-content: stretch;
  margin-top: 50px;
}

.porfolio-project-item {
  max-width: 370px;
}

.portfolio-item {
  padding: 20px 24px;
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);

}
