:root {
  --prime-background-color: #ffffff;
  --prime-logo-color: #2196f3;
  --secondary-logo-color: #000000;
  --prime-text-color: #757575;
  --secondary-text-color: #212121;
  --hero-section-color: #2f303a;
  --button-color: #188ce8;
  --secondary-background-color: #F5F4FA;
  --address-color: color: rgba(255, 255, 255, 0.6);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1, h2, h3, p, ul {
  padding: 0;
  margin: 0;
}

.container {
  width: 1630px;
  padding-left: 15px;
  padding-right: 15px;
} 

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.flex {
  display: flex;
  align-items: center;
}

nav>ul {
  margin-left: 93px;
}
header li {
  margin-top: 32px;
}

header li:not(:first-child){
  margin-left: 50px;
}

.flex-end {
  margin-left: auto;
  margin-right: 215px;
}
body img {
  max-width: 100%;
}

/* body */
body {
  color: var(--prime-text-color);
  background-color: var(--prime-background-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.title {
  color: var(--secondary-text-color);
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

/* header-section */
.list {
  list-style: none;
}

.header {
  height: 80px;
  border: 1px solid #ECECEC;
}

.logo-prime {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--prime-logo-color);
  text-decoration: none;
  margin-top: 24px;
  margin-left: 215px;
}

.logo-secondary {
  color: var(--secondary-logo-color);
}

.links {
  color: var(--prime-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-style: normal;
  text-decoration: none;
}

.links:hover,
.links:focus {
  color: var(--prime-logo-color);
}

nav .links {
  color: var(--secondary-text-color);
}



nav .current {
  color: var(--prime-logo-color);
}
/* hero-section */
.hero-section {
  background-color: var(--hero-section-color);
}

.hero-section .title {
  color: var(--prime-background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  cursor: pointer;
  font-style: normal;
  font-family: inherit;
  color: var(--prime-background-color);
  background-color: var(--prime-logo-color);
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  display: flex;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.button:hover,
.button:focus {
  background-color: var(--button-color);
}

/* section-company benefits */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.benefits-list-second {
  display: flex;
  margin-left: 215px;
}

.benefits-list:not(:first-child){
  margin-left: 30px;
}

.benefits-list>h2,
.benefits-list>p {
  width: 270px;
}

.title-secondary { color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.paragraph {
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* section-our-team */
.section-our-team {
  background-color: var(--secondary-background-color);
}

.section-our-team .list-team {
  background-color: var(--prime-background-color);
}

.section-our-team .list-team:not(:first-child) {
  margin-left: 30px;
}

.section-our-team .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  margin-top: 30px;
}

.section-our-team p {
  margin-top: 10px;
  text-align: center;
}

.job-title {
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
}

.our-team-list {
  margin-top: 50px;
  margin-left: 215px;
}

.our-team-list>li:not(:first-child) {
margin-left: 30px;
}

.section-our-team ul {
  display: flex;
  margin-top: 50px;
  margin-left: 215px;
}

/* footer */
.footer {
  background-color: var(--hero-section-color);
  height: 252px;
}

.footer .logo-prime {
  display: inline-block;
margin-top: 60px;
margin-left: 215px;
}

.footer ul {
  margin-top: 20px;
  margin-left: 215px;
}

 .footer .logo-secondary {
  color: var(--prime-background-color);
 }

 .address-links {
  color: var(--prime-background-color);
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
 }

 .address-links:not(:first-child) {
  margin-top: 10px;
 }

 .address-secondary {
  color: var(--address-color);
 }

 .address-links:hover, .address-links:focus {
  color: var(--prime-logo-color);
 }

 /* portfolio */

 .portfolio-button {
  cursor: pointer;
  color: var(--secondary-text-color);
  background-color: var(--secondary-background-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
 }

 .portfolio-button:hover,  .portfolio-button:focus {
  color: var(--prime-background-color);
  background-color: var(--prime-logo-color);
 }

.portfolio-links {
  text-decoration: none;
}

 .portfolio-title {
  color: var(--secondary-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
 }

 .portfolio-paragraph {
  color: var(--prime-text-color);
  font-style: normal;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
 }

 .portfolio-list {
  display: flex;
  margin-top: 94px;
  margin-left: 512px;
 }

 .portfolio-list li:not(:first-child) {
  margin-left: 30px;
 }

 .portfolio-list-secondary {
  margin-top: 30px;
 }

 .portfolio-list-img {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-left: 215px;
 }

.portfolio-list-img li {
  border: 1px solid #EEEEEE;
 }

 .portfolio-list-img li:not(:first-child) {
  margin-left: 30px;
 }
 
.portfolio-list-img li:nth-child(3n + 1) {
margin-left: 0px;
}

 .portfolio-list-img h2 {
  margin-top: 20px;
  margin-left: 24px;
 }

 .portfolio-list-img p {
  margin-top: 4px;
  margin-left: 24px;
 }